.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
}

.logo {
    width: 225px;
    height: 53px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.h1black {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.h1red {
    color: #DB0035;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #EDEAEA;
    margin-top: 12px;
    margin-bottom: 24px;
}



.photoPlaceholder {
    width: 111px;
    height: 111px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}
